<% layout('layout') -%>
<div class="jumbotron">
        <h1 class="display-7">Your latest checkout: </h1>
        <table class="table table-sm" style="display: inline;">
            <thead>
                <tr>
                <th>#</th>
                <th>Starbucks</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                <th scope="row">1</th>
                <td>Bill Id</td>
                <td>123</td>
                </tr>
                <tr>
                <th scope="row">2</th>
                <td>Description</td>
                <td>Lovely Coffee</td>
                </tr>
                <tr>
                <th scope="row">3</th>
                <td>Date</td>
                <td>march 7 2017</td>
                </tr>
                <tr>
                <th scope="row">4</th>
                <td>Location</td>
                <td style="width:200px">
                    <a href="https://www.google.com/maps/place/Starbucks+Coffee/@17.4506728,78.3786222,13z/data=!4m8!1m2!2m1!1sstarbucks+near+Hyderabad,+Telangana,+India!3m4!1s0x0:0xd0691d7fbe930877!8m2!3d17.484271!4d78.3892322?hl=en">
                        Starbucks Forum Sujana Mall Hyderabad, Telangana, India
                    </a>                
                </td>
                </tr>
                <tr>
                <th scope="row">5</th>
                <td>Tax</td>
                <td>78.90</td>
                </tr>
            </tbody>
            </table>
            <p class="lead">
                <p class="ck-btn"><a class="btn btn-success" href="/checkout-new" role="button">Checkout</a></p>
                <p class="ck-btn"><a class="btn btn-secondary" href="/checkout-history" role="button">History</a></p>
            </p>
           </div>

