<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Checkout Logger</title>

    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" crossorigin="anonymous">
    <link href="/css/narrow-jumbotron.css" rel="stylesheet">
    <link href="/css/style.css" rel="stylesheet">
  </head>

  <body>

    <div class="container">

        <% include ./partials/navbar.ejs %>

        <%- body -%>

        <%include ./partials/footer.ejs %>
    </div> <!-- /container -->
  </body>
</html>
