<% layout('layout') -%>
<div class="jumbotron">
    <% if (!status) { %>
            <h4>Page Not Found Error 404</h4>

The page you requested could not be found, either contact your webmaster or try again. Use your browsers Back button to navigate to the page you have prevously come from
    <% } %>
</div>