<% layout('layout') -%>
<div class="jumbotron">
        <h1 class="display-7">Your checkouts now became smarter!</h1>
        <p class="lead">We save all your checkouts, so you can access all of those at one place.</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
      </div>

      <div class="row marketing">
        <div class="col-lg-6">
          <h4>Calculations made easy</h4>
          <p>We automatically calculate all the final amounts.</p>

          <h4>Checkout</h4>
          <p>Checkout all your logs in a span of days</p>

          <h4>You can trust us.</h4>
          <p>All your Data is safe and protected among our servers.</p>
        </div>

        <div class="col-lg-6">
          <h4>Don't worry about locations.</h4>
          <p>We grab locations too.</p>

          <h4>Document Scanner</h4>
          <p>We change all the image formats to a document format.</p>

          <h4>Thanks to Google</h4>
          <p>We use special Image Vision OCR to process all the data.</p>
        </div>
      </div>